
* {
    font-family: 'MedievalSharp', cursive;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #000;
    overflow: hidden;
  }

  .dots {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 100px; 
    position: fixed;
    top: 10%;
    width: 100%;
}

  .dot {
    width: 3vh;
    height: 3vh;
    border-radius: 50%; 
    margin: 0 5px; 
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
}

.dot:nth-child(1) {
    background-color: red;
}

.dot:nth-child(2) {
    background-color: orange;
}

.dot:nth-child(3) {
    background-color: yellow;
}

.dot:nth-child(4) {
    background-color: green;
}

.dot:nth-child(5) {
    background-color: blue;
}

.dot:nth-child(6) {
    background-color: indigo;
}

.dot:nth-child(7) {
    background-color: violet;
}
  
  .title{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 30%;
    left: 9%;
    color: rgba(255, 255, 255, 0.637);
    font-size: 10vw;
  }

  .story {
    z-index: 10;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.616);
    font-size: xx-large;
    padding: 1rem;
    border-radius: 1rem;
    border-width: 2px;
    color: white ;
    border: solid 2px white;
    
}

.story:hover {
    cursor: pointer;
    border-right: solid yellow;
    border-bottom: solid yellowgreen;
    border-left: #088F8F solid ;
    border-top: #aa151d solid;
    
}


  .glowing {
    position: relative;
    min-width: 700px;
    height: 550px;
    margin: -150px;
    transform-origin: right;
    animation: colorChange 5s linear infinite;
  }
  
  .glowing:nth-child(even) {
    transform-origin: left;
  }
  
  @keyframes colorChange {
    0% {
      filter: hue-rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  .glowing span {
    position: absolute;
    top: calc(80px * var(--i));
    left: calc(80px * var(--i));
    bottom: calc(80px * var(--i));
    right: calc(80px * var(--i));
  }
  
  .glowing span::before {
    content: "";
    position: absolute;
    z-index: 5;
    top: 30%;
    left: -8px;
    width: 15px;
    height: 15px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
  }
  
  .glowing span:nth-child(3n + 1)::before {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgba(134,255,0,1),
      0 0 40px rgba(134,255,0,1),
      0 0 60px rgba(134,255,0,1),
      0 0 80px rgba(134,255,0,1),
      0 0 0 8px rgba(134,255,0,.1);
  }
  
  .glowing span:nth-child(3n + 2)::before {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgba(255,214,0,1),
      0 0 40px rgba(255,214,0,1),
      0 0 60px rgba(255,214,0,1),
      0 0 80px rgba(255,214,0,1),
      0 0 0 8px rgba(255,214,0,.1);
  }
  
  .glowing span:nth-child(3n + 3)::before {
    background: rgb(250, 250, 250);
    box-shadow: 0 0 20px rgba(0,226,255,1),
      0 0 40px rgba(0,226,255,1),
      0 0 60px rgba(0,226,255,1),
      0 0 80px rgba(0,226,255,1),
      0 0 0 8px rgba(0,226,255,.1);
  }
  
  .glowing span:nth-child(3n + 1) {
    animation: animate 10s alternate infinite;
  }
  
  .glowing span:nth-child(3n + 2) {
    animation: animate-reverse 3s alternate infinite;
  }
  
  .glowing span:nth-child(3n + 3) {
    animation: animate 8s alternate infinite; 
  }
  
  @keyframes animate {
    0% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }
  
  @keyframes animate-reverse {
    0% {
      transform: rotate(360deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    100% {
      transform: rotate(0deg);
    }
  }