body {
    
    font-family: 'MedievalSharp', cursive;
    font-size: larger;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle, rgba(168, 109, 0, 0.64) 0%, #1a1a1a 50%);
}

.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

img{
    width: 15vw;
}

.container {
    color: #111111;
    font-weight: bold;
    background: url("./assets/scroll.png");
    background-size:cover;
    background-position: center;
    padding: 11%; 
}


.container p {
    opacity: 0;
    animation: fadeIn 3s forwards;
    font-size: 2vh; 
}


@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        padding: 10px; 
    }

    .container p {
        font-size: 4vw; 
    }
}


.container p:nth-child(1) {
    animation-delay: 1s;
}

.container p:nth-child(2) {
    animation-delay: 3s;
}

.container p:nth-child(3) {
    animation-delay: 6s;
}

.container p:nth-child(4) {
    animation-delay: 9s;
}

.container p:nth-child(5) {
    animation-delay: 10s;
}

.container p:nth-child(6){
    animation-delay: 15s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


a{
    margin-top: 1vh;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: xx-large;
    color: #111111;
    border: #111111 solid;
    border-radius: 5px;
}

.to-game{
    background-color: white;
    border: solid black;
    border-radius: 10px;
    margin: 5px;
}

a:hover{
    background-color: orange;
}

.sound-container{
    cursor: pointer;
    font-size: xx-large;
}

.sound-container:hover{
    background-color: orange;
    margin: 5px;
}